<article class="question question-default">
  <header class="question-header" >
      <div class="card-title">
          <h1 class="title">  Text of the question?</h1>
     </div>
  </header>
  <ol class="options">
  <!--   option 1 -->
                <li data-cols="2" class="">
                  <div class="option-container">
                   <input type="radio" name="option1"/>
                    <label title="option1">Option 1</label>
                  </div>
<!--         option 2 -->
                  <div class="option-container">
                   <input type="radio" name="option1"/>
                    <label title="option1">Option 2</label>
                  </div>
                 </li>
   <!--  option 3 -->
                <li class="" data-cols="2">
                  <div class="option-container" >
                   <input type="radio" name="option1"/>
                    <label title="option1">Option 3</label>
                  </div>
  <!--   option 4 -->
                  <div class="option-container">
                   <input type="radio" name="option1"/>
                    <label title="option1">Option 4 </label>
                  </div>
                 </li>

  </ol>
  <!-- button to submit quiz  -->
  <button id="submit_quiz" type="button" class="btn btn-primary btn-lg">Submit</button>
</article>
    <article>
