<!DOCTYPE html>
<html lang="en">
  <head>
    <title>QuizApp | SignUp</title>
    <!-- Meta Information -->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <!-- Bootstrap link  -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link
      rel="stylesheet"
      href="/QuizApp/styles/layout.scss"
      type="text/scss"
    />
  </head>
  <body>
    <div class="main-container_register">
      <div class="right-container">
        <h1>QuizApp</h1>
        <h3>
          Connecting people one quiz at a time
        </h3>
        <form action="/users/register" method="POST">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputFirst">Fullname Name</label>
              <input required="required" name="name" type="text" placeholder="Name" class="form-control" id="firstName" />
            </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="email">Email</label>
              <input required="required" type="email" name="email" placeholder="Email" class="form-control" id="inputEmail" />
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Password</label>
              <input required="required" type="password" name="password" placeholder="enter your password" class="form-control" id="inputPassword4" />
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <p class="signup">Already have an account?<a href="/users/login"> Login in here!</a></p>
      </div>
    </div>
  </body>
</html>
