<!DOCTYPE html>
<html lang="en">
  <head>
    <title>QuizApp</title>
    <!-- Meta Information -->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <!-- Bootstrap link  -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link
      rel="stylesheet"
      href="/QuizApp/styles/layout.scss"
      type="text/scss"
    />
  </head>
  <body>
    <div class="main-container">
      <div class="left-container">
        <video class="video" controls>
          <source src="/path" type="video/mp4" />
        </video>
      </div>
      <div class="right-container">
        <h1>QuizApp</h1>
        <h3>
          Connecting people one quiz at a time
        </h3>
        <ul>
          <li><h5>Create quizzes and share between friends</h5></li>
          <li><h5>Wide range of topics to choose from</h5></li>
          <li>
            <h5>And it's <strong>FREE!</strong></h5>
          </li>
        </ul>
        <div class="button">
          <button type="button" class="btn btn-danger btn-lg">SIGN UP</button>
          <button type="button" class="btn btn-outline-danger btn-lg">
            LOG IN
          </button>
        </div>
      </div>
    </div>
    <div class="change-color">
      <footer class="footer">
        <h6>
          By signing up, you agree to our <a href="#">Terms of Use</a> and
          <a href="#">Privacy Policy</a>
        </h6>
        <h7>(c) 2020 LHL Bootcamp</h7>
      </footer>
    </div>
  </body>
</html>
