//Sharing button start
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block;
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em;
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top;
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle;
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none;
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615;
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373;
}

.resp-sharing-button--tumblr {
  background-color: #35465c;
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c;
}

.resp-sharing-button--reddit {
  background-color: #5f99cf;
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1;
}

.resp-sharing-button--google {
  background-color: #dd4b39;
}

.resp-sharing-button--google:hover {
  background-color: #c23321;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293;
}

.resp-sharing-button--email {
  background-color: #777;
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e;
}

.resp-sharing-button--xing {
  background-color: #1a7576;
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c;
}

.resp-sharing-button--whatsapp {
  background-color: #25d366;
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851;
}

.resp-sharing-button--hackernews {
  background-color: #ff6600;
}
.resp-sharing-button--hackernews:hover,
.resp-sharing-button--hackernews:focus {
  background-color: #fb6200;
}

.resp-sharing-button--vk {
  background-color: #507299;
}

.resp-sharing-button--vk:hover {
  background-color: #43648c;
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--reddit {
  background-color: #5f99cf;
  border-color: #5f99cf;
}

.resp-sharing-button--reddit:hover,
.resp-sharing-button--reddit:active {
  background-color: #3a80c1;
  border-color: #3a80c1;
}

// sharing buttton end

// See: https://sass-lang.com/

body {
  background-color: #edf6f9;
}
h1 {
  color: #244751;
}

.container {
  display: flex;
  max-width: 100%;
  margin-top: 5px;
}

.row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

// Profile section
.col-3 {
  border: 1px solid red;
  max-width: 100%;
  height: 50px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: center;
}
// Buttons under profile picture
.my_quizzes_btn {
  display: flex;
  justify-content: space-between;
}

.col-9 {
  max-width: 100%;
  height: 400px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}
// css for question options in Create Quiz Form

.options_question1 {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .profile-name {
    display: flex;
    justify-content: center;
  }

  .container {
    padding: 0;
  }

  .row {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .col-3 {
    border: 1px solid black;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
  }

  .col-9 {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 700px;
    padding: 0;
  }

  .quiz-profile {
    height: 80px;
    width: 100%;
    background-color: #fec89a;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .list-top {
    height: 80px;
    width: 100%;
    background-color: #a8dadc;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .quiz-top {
    margin-left: 200px;
    font-weight: 300px;
  }

  .quiz-right {
    margin-right: 10px;
  }

  // NAVBAR CSS
  .navbar {
    // color: #457b9d;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }

  // Question container CSS
  article {
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    -webkit-box-shadow: 0px 0px 16px #000000;
    -moz-box-shadow: 0px 0px 16px #000000;
    box-shadow: 0px 0px 16px #000000;
    background-image: -moz-linear-gradient(top, #fff5ee 45%, #e0ffff 98%);
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.45, #fff5ee),
      color-stop(0.98, #e0ffff)
    );
    border: 0px solid #000000;
    background-color: #fff8dc;
    padding: 10px;
    z-index: 10;
    color: #888888;
    text-align: center;
  }

  .options {
    display: flex;
    justify-content: space-between;
    padding: 8px 40px;
    list-style-type: none;
  }

  .option-container {
    border: 2px solid #888888;
    margin: 10%;
    padding: 8px;
    width: 250px;
    border-radius: 10px;
  }
  .option-container:hover {
    box-shadow: 0px 0px 16px #000000;
  }

  input[type="radio"] {
    transform: scale(2);
    margin: 10%;
    cursor: default;
  }
  // button submit quiz
  #submit_quiz {
    padding: 3px 22px;
    padding: 22px 35px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 900;
    min-width: 140px;
  }

  // Results box CSS
  article {
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    -webkit-box-shadow: 0px 0px 10px #000000;
    -moz-box-shadow: 0px 0px 10px #000000;
    box-shadow: 0px 0px 10px #000000;
    background-color: #fff5ee;
    padding: 33px;
    z-index: -1;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13pt;
    color: #888888;
    text-align: center;
  }
}
